body {    
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    border-bottom: 1px solid black;
    padding: 10px;  
    background-color: blanchedalmond;
}

a {
    text-decoration: none !important;
}

.header_link {
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

.header_link:hover {
    color: brown;
}

.main_Index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main_div_Index {
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    background-color: blanchedalmond; 
}

.status_up {
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #7ff952;
}

.status_down {
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: red;
}

.table_div_FindTrain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.not_found {
    margin-top: 5px;
    color: red;
    font-weight: bold;
}

.panel {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.login_div {
    float: right;
}

footer {
    border-top: 1px solid black;
    padding: 20px;  
}

.find_result {
   width: 50%;
   margin: 0 auto;
   margin-top: 20px;
}